#hero {
  width: 100%;
  margin-top: 200px;
  margin-bottom: 10px;
  position: relative;
  background: #fff;
}

@media (max-width: 767px) {
  #hero {
    height: auto;
    padding: 80px 0 60px 0;
  }
  #hero .container {
    height: auto !important;
  }
  #hero .intro-img {
    width: 80%;
  }
}

@media (min-width: 992px) {
  #hero .intro-info {
    padding-top: 80px;
  }
}

@media (max-width: 767px) {
  #hero .intro-info {
    text-align: center;
    padding-top: 40px;
  }
}

#hero .intro-info h2 {
  color: #363636;
  margin-bottom: 40px;
  font-size: 48px;
  font-weight: 700;
}

#hero .intro-info h2 span {
  color: #1bb1dc;
}

@media (max-width: 767px) {
  #hero .intro-info h2 {
    font-size: 34px;
    margin-bottom: 30px;
  }
}

#hero .intro-info .btn-get-started, #hero .intro-info .btn-services {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #1bb1dc;
  color: #fff;
}

#hero .intro-info .btn-get-started:hover, #hero .intro-info .btn-services:hover {
  background: #0a98c0;
}
  
  #services {
    padding: 80px 0 24px 0;
  }
  #hero .search2  {
    border-radius: 10px 0px 0px 10px;
    transition: 0.5s;
    height:60px;
    width: 80%;
    padding: 0px 20px;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
  }
  
  .submit {
    border-radius: 0px 10px 10px 0px;
    font-size:14px;
    border:none;
    width: 15%;
    font-weight:600;
    background: #396997;
    color:#fff;
    transition: all 100ms ease-in-out;
  }
  
  .price{
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    color: #396997;
  }
  
  .submit:hover {
    background: black;
  } 
  #services .box {

    padding: 10px;
    margin: 10px 0px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 70px 0px;
    background: #fff;
    box-shadow: 0px 20px 40px rgba(204, 204, 204, 0.67);
    transition: all 0.3s ease-in-out;
    text-align: center;
  }

  #services .box:hover {
    transform: scale(1.1);
  }
  
  #services .icon img {
    margin: 0 auto 5px auto;
    padding-top: 12px;
  
  }
  
  
  #product {
    padding: 80px 0 50px 0
  }
  
  #product .card {
    position: relative;
    overflow: hidden;
    margin: 30px 0px !important;
    background: #fff;
    transition: all 0.3s ease-in-out;
    text-align: left;
  
  }
  #product .card-name{
    font-weight: 700;
    color: #232323;
  }
  .card-address{
    font-size: 14px;
    color: #A0A0A0;
  }

  #product .kompetensi, #product .rating{
      font-size: small;
      color: #959595;
      line-height: 25px;
  }
  
  .fa-star{
    color: #396997;
  }
  #product .btn{
    width: 60%;
    font-size: small;
  }

  
  #promotion2{
    padding: 50px 100px;
    color: black;
  }
  #promotion2 img{
    width: 50%;
  }

  #promotion2 .desc{
  padding: 10px 0px;
  }
  
  
  #promotion{
    background-image: url(../img/promotion.png);
    margin-top: 50px;
    padding: 100px 100px;
    color: #fff;
   
  }
  #promotion .title{
    font-weight: 700;
    font-size: 50px;
  }
  
  #promotion .desc{
  padding: 30px 0px;
  padding-right: 500px;
  font-weight: 500;
  }

  
.login img{
  height: 30px;
}