#search{
    position: relative;
    margin-top: 150px;  
    margin-bottom: 100px;
}
#search .filter{
    width: 30%;
}

#search .content{
    width: 50%;
}

#search .box {
    margin-right: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    background: #FFFFFF;
    box-shadow: 0px 1px 20px rgba(105, 105, 105, 0.1);
    transition: all 0.3s ease-in-out;
  }


#search .box{
 font-size: small;
 padding: 0px 20px;
}

label{
    display: block;
    margin-top: 20px;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    color: #363636;
}

input[type="text"]{
    color: black;
    border: black solid thin;
    border-radius: 4px;
    padding: 2px 10px;
   background: transparent;
}
input[type="reset"]{
    border: 0px;
    border-style: none;
    background: none;
    color: lightblue;
}
button{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 180px;
}

.cari {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.cari .cari-input {
    padding-left: 35px;
    border: solid 1px #a1a3a5;
    border-radius: 5px;
    color: #44484a;
    outline: none;
  }
  
.cari .cari-icon {
    position: absolute;
    top: 6px;
    left: 10px;
    color: #44484a;
  }

#list{
    border-radius: 4px;
    padding: 5px;
    padding-right: 150px;
}