body {
  background: #fff;
  color: #444;
  font-family: "Montserrat", sans-serif;
}


a:hover, a:active, a:focus {
  color: #0a98c0;
  outline: none;
  text-decoration: none;
}

#header {
  height: 70px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 30px 16px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#header.header-scrolled, #header.header-pages {
  height: 70px;
  padding: 15px 0;
  background-color: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}

@media (max-width: 991px) {
  #header {
    height: 70px;
    padding: 15px 0;
  }
}
.navbar{
  padding: 15px 0px;
  font-size: 16px;
}
#header .logo img {
  padding: 0;
  margin: 0px 0;
  max-height: 50px;
}

#header .login .join {
  padding: 5px 15px;
  font-size: 14px;
  color: aliceblue;
  background: #396997;
  border-radius: 4px;
}
#header .login .signin {
  margin: 5px;
  padding: 10px;
  color: black;
  border-radius: 4px;
}

.main-pages {
  margin-top: 60px;
}



.main-nav, .main-nav * {
  margin: 0;
  padding: 0px 5px;
  list-style: none;
}

.main-nav > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.main-nav a {
  display: block;
  position: relative;
  color: #413e66;
  transition: 0.3s;

}

.main-nav a:hover, .main-nav .active > a, .main-nav li:hover > a {
  color: #1bb1dc;
  text-decoration: none;
}

.main-nav .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% - 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.main-nav .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.main-nav .drop-down li {
  min-width: 180px;
  position: relative;
}

.main-nav .drop-down ul a {
  padding: 10px 20px;
  font-weight: 500;
  text-transform: none;
  color: #065e77;
}

.main-nav .drop-down ul a:hover, .main-nav .drop-down ul .active > a, .main-nav .drop-down ul li:hover > a {
  color: #1bb1dc;
}

.main-nav .drop-down > a:after {
  content: "\f107";
  font-family: FontAwesome;
  padding-left: 10px;
}

.main-nav .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.main-nav .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.main-nav .drop-down .drop-down > a {
  padding-right: 35px;
}

.main-nav .drop-down .drop-down > a:after {
  content: "\f105";
  position: absolute;
  right: 15px;
}

/* Mobile Navigation */
.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: rgba(40, 38, 70, 0.8);
  transition: 0.4s;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 20px;
  font-weight: 500;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #8dc2fa;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\f078";
  font-family: FontAwesome;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\f077";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  margin: 18px 18px 0 0;
  color: #065e77;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(40, 38, 70, 0.8);
  overflow: hidden;
  display: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

.text3{
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 54px;
  font-family: "Montserrat", sans-serif;
  color: #363636;
}
.text4{
  font-weight: 700;
  font-size: 18px;
  color: #363636;
}
.text5{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #959595;
}
.textp{
  font-size: 15px;
  color: #535074;
}
a{
  color: #363636;
}
.tombol {
  position: relative;
  padding: 8px 20px;
  border-radius: 4px;
  font-weight: normal;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.tombol.orange-1:hover {
  background-color: rgb(209, 135, 44) ;
  color: white;
  border: solid 3px rgb(209, 135, 44);
}
.tombol.orange-1{
  border: 2px solid #C47312;
  color: #C47312;
}

.tombol.blue-2:hover {
  border: 2px solid #396997;
  background-color: white;
  color: #396997;
}
.tombol.blue-2{
  background-color: #367ab9 ;
  color: white;
  border: solid 3px #367ab9;
}

.tombol.blue-1:hover {
  background-color: #367ab9 ;
  color: white;
  border: solid 3px #367ab9 ;
}
.tombol.blue-1{
  border: 2px solid #396997;
  color: #396997;
}
.tombol.orange-2:hover {
  border: 2px solid #C47312;
  background-color: white;
  color: #C47312;
}
.tombol.orange-2{
  background-color: rgb(209, 135, 44) ;
  color: white;
  border: solid 3px rgb(209, 135, 44);
}


#footer {
  font-size: 14px;
  background: #fff;
  color: rgba(255, 255, 255, 0.8);;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #2A2A2A;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .text3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#footer .textp {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: white;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #2a2a2a;
  color: #C47312;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  border: solid #fff thin;
  text-align: center;
  width: 40px;
  height: 40px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #C47312;
  color: #fff;
}

@media (max-width: 574px) {
  #footer .footer-top .social-links a {
    margin-bottom: 25px;
  }
}

#footer .text4 {
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul li {
  padding: 8px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: white;
}

#footer .footer-top .footer-links ul a:hover {
  color: #C47312;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .textp {
  line-height: 26px;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
